<div class="list-group text-center">
	<div class="list-group-item list-group-item-home">
		<h1>Random</h1>
	</div>
	<div class="list-group-item list-group-item-home media">
		<div class="media-body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<button ng-click="random()" class="btn btn-danger btn-sm">
						<i class="fi-skull"></i>
					</button>
				</div>
				<div class="panel-body">
					<h2 ng-bind="randomResult.content"></h2>
				</div>
			</div>
		</div>
	</div>
</div>
